@include media-breakpoint-up(sm) {
  .button-bar {
    justify-content: space-evenly !important;
  }

  .load-btn {
    margin: initial;
  }
}
@include media-breakpoint-up(md) {
  .header {
    padding: 8rem 0;
  }

  .how-to {
    margin: 0;
    h5 {
      text-align: initial;
      font-size: 3rem;
    }
    h6 {
      font-size: 1.2rem;
    }
  }
}
@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
