@include media-breakpoint-up(sm) {
  .button-bar {
    justify-content: space-evenly !important;
  }

  .load-btn {
    margin: initial;
  }
}
@include media-breakpoint-up(md) {
  .header {
    padding: 5rem 0;
  }

  .header-logo {
    width: 75%;
  }

  .how-to {
    right: -5%;
    top: -25%;
  }
}
@include media-breakpoint-up(lg) {
  .header-logo {
    width: 55%;
  }
  .how-to {
    right: 0%;
    top: -20%;
  }
}

@include media-breakpoint-up(xl) {
  .how-to {
    right: 0%;
    top: -20%;
  }
}
