//MOVIES LIST COMPONENT
.movies-container {
  margin: 2rem 0 6rem;
}

//MOVIE COMPONENT
.movie {
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: $main-color !important;

  &:hover {
    background-color: #fad051 !important;
  }
}

.movie-selected {
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: $accent-color !important;
  color: white;
}

.movie-title {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  line-height: 1.4rem;
}

//BOOTSTRAP CARD STYLES

.card-body {
  padding: 0.5rem 0.5rem 0rem !important;
}
