.header {
  padding: 3rem 0 2rem;
  color: white;
  background: $dark-color;
}

.header-logo {
  width: 100%;
}

.header-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-to {
  position: absolute;
  right: 5%;
  top: -20%;
  color: $main-color;
}

.instructions {
  .arrow::after {
    border-bottom-color: $main-color !important;
  }
  .popover-header {
    background-color: $main-color;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
