.header {
  padding: 4rem 0 2rem;
  color: white;
  background: $dark-color;
}

.header-logo {
  width: 100%;
}

.header-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-to {
  margin: 3rem 0 0 0;
  color: #848484;
  h5 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}
