.button-bar {
  position: fixed;
  display: flex !important ;
  justify-content: space-between;
  background-color: $darker-color;
  padding: 1.5rem 1rem;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.load-btn {
  margin: auto;
}

.btn-danger {
  color: $darker-color !important;
}
