.movies-container {
  margin: 10rem 0;
}

.movie {
  padding: 0 !important;
  cursor: pointer;
}

.movie:hover {
  background-color: lightblue;
}

.movie-selected {
  background-color: lightcoral !important;
}

.movie-img-container {
  padding: 1rem;
}

.test {
  width: 100%;
  position: relative;
}

.button-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgreen;
  padding: 1rem 2rem;
}
