.movies-container {
  margin: 2rem 0 6rem;
}

.movie {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.movie:hover {
  background-color: lightblue;
}

.movie-selected {
  background-color: lightcoral !important;
}

.test {
  width: 100%;
  position: relative;
}

.button-bar {
  position: fixed;
  display: flex !important ;
  justify-content: space-evenly !important;
  background-color: rgb(78, 78, 78);
  padding: 1rem 2rem;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.test {
  height: 100vh;
}

#root,
body,
html {
  height: 100%;
}
